/* style.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
    color: limegreen;
}

#menu {
    margin-top: 20%;
}

#gameContainer {
    margin: 0 auto;
    width: 600px;
    height: 400px;
    position: relative;
}

canvas {
    background-color: black;
    border: 1px solid limegreen;
}
